<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EZGuitar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CB9DAD41F1D5C3700AB40A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB9DAE81F1D5C3700AB40A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB9DAF31F1D5C3700AB40A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
